/* global css starts */
:root{
    --font-family: 'Open Sans', sans-serif;

    --primary-color: #2e333e;
    --secondary-color: #0066F9;
    --bg-color: #EAEAEA;

}
*, ::after, :before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, ::before, ::after{
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    
}
.container{
    max-width:1140px;
    margin: 0 auto;
}
.row{

}
body{
    font-family: var(--font-family);
    font-size: 15px;
}
.pagination{
    margin: 20px 0;
}
.pagination-index{
    display: inline-block;
    width: 48%;
    text-align: right;
}
.pagination-nav{
    display: inline-block;
    width: 48%;
    text-align: right;
}
/* global css ends */
/* header css start */
header{
    background-color: var(--bg-color);
    height: 160px;
}
.header-container{
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    min-width: 160px;
}
header .nav{
    display: flex;
}
header .nav .nav-item{
    font-size: 20px;
    font-family: 'Open Sans';
    padding: 20px;
}
.nav .nav-button{
    background: var(--secondary-color);
    color: white;
}
/* header css end */
/* main-content css start */
.latest-post{
    margin-bottom: 25px;
}
.all-posts{
    margin: 30px 0;
}
.main-content{
    margin: 20px 26px;
}
.home-header{
    font-family: var(--font-family);
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: 600;
}
.home-sub-header{
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 2em;
}
.home-content-hr{
    margin: 2rem 0;
}
.card-parent {
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
    /* justify-content: space-between; */
    justify-items: center;
    
}
.blog-card {
    background: var(--bg-color);
    width: 520px;
    margin-bottom: 20px;
}
.blog-card img{
    max-width: 100%;
    height: auto;
}
.blog-card .blog-content{
    padding: 30px 20px;
}
.blog-chip{
    text-align: center;
    margin: -20px;
}
.blog-chip a{
    background-color: #7D4CDB;
    color: white;
    font-family: var(--font-family);
    padding: 10px;
    display: inline-block;
}
.blog-content .blog-date {
    font-size: 14px;
    font-family: var(--font-family);
    padding: 10px 0;
}
.blog-content .blog-title {
    font-family: var(--font-family);
    font-size: 25px;
    font-weight: 400; 
}
.blog-content .blog-excerpt {
    font-family: var(--font-family);
    font-size: 15px;
    padding: 10px 0;
    line-height: 1.5em;
}
/* main-content css ends */
/* footer css starts */
.fa{
    font-size: 50px;
    color: var(--secondary-color);
    margin-right: 10px;
}
footer p{
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 2em;
}
/* footer css ends */